langchain
langchain-community
langchain_cohere 
cohere 
sentence-transformers
openai-whisper  
faster-whisper
gradio
streamlit
#fastapi
#pydantic
transformers 
duckduckgo-search
tavily-python
pytest
ray