langchain
langchain-community
langchain_cohere == 0.2.4
cohere == 5.16.1 
sentence-transformers
openai-whisper  
faster-whisper
gradio
streamlit
#fastapi
#pydantic
transformers 
duckduckgo-search
tavily-python
pytest
ray